:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #2e2f42;
  --secondary-color: #4d5ae5;
  --box-text-color: #f4f4fd;
  --feature-color: #434455;
  --accent-color: #404bbf;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}
* {
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/*------- Header----------*/
.header {
  margin-left: 156px;
}
.container {
}
.header-container {
  display: flex;
  align-items: center;
  margin-right: 156px;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.header-link {
  margin-right: 76px;
}
.link {
}
.site-nav {
  display: flex;
  gap: 40px;
}
/* .site-nav .aside-team + .link current {
  margin-left: 40px; */

.current {
}
.header-list {
}
.cotainer {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}

.header-navigation {
  display: flex;
  color: var(--secondary-color);
}

.site-nav .link.current {
  color: var(--primary-text-color);
}

.header-link,
.header-link span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
}
.header-link span {
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/*------- Address----------*/
.aside {
  display: flex;
  gap: 40px;
  align-items: center;
}
.aside-team {
}
.aside-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #d9d9d9;
}
.aside-team .link:hover,
.aside-team .link:focus {
  color: var(--accent-color);
}
/*------------- Section 1  width: 1158px;---------*/
.hero {
  background: var(--primary-text-color);
  text-align: center;

  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-container {
  display: flex;
}
.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
  padding: 188px 468.07px 232px;
  /*margin-right: auto;
  margin-left: auto;
  margin-bottom: 48px;*/
}
.header-btn {
  display: block;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background: var(--secondary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  margin: auto;
  border: transparent;
  margin-left: auto;
  margin-right: auto;
}
.header-btn:hover,
.header-btn:focus {
  background: var(--accent-color);
}
/*------------- /Section 1 ---------*/
/*------------- Section 2 ---------*/
.hero-feature {
  margin-top: 120px;
  margin-bottom: 120px;
}
.visually-hidden {
}
.feature {
  display: flex;
  column-gap: 24px;
}
.feature-item {
  flex-basis: calc((100% - 72px) / 4);
}
.feature-description {
}

.feature-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}
.feature-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--feature-color);
}
/*------- /Section 2 ----*/
/*-----------Section 3 ------*/
.tools-container {
}
.list-tools-imag {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  /* flex-basis: calc((100% - 2 * 24px) / 3);*/
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin-bottom: 72px;
}
.tools-team {
  justify-content: space-between;
}
/*--------/section 3 -----*/
/*-----------Section 4 ------*/
.section-team {
}
.section-title {
}
.list-item-imag {
}
.img-team {
}
.container-workers-name {
  display: flex;
}

.section-team {
}

/*.list-item-imag {
  width: calc((100% - 3 * 24px) / 4);
}*/

.list-item-imag {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  text-align: center;
}
.section-team {
  background: var(--box-text-color);
  padding: 120px 0px;
}
.img-team {
  background: var(--primary-white-color);
}

.workers-container {
  padding: 32px;
}
.workers-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.position {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--feature-color);
}
/*-----------/Section 4 ------*/
/*----------Footer ---------*/
.cotainer {
  display: flex;
}

.footer {
  background: var(--primary-text-color);
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
.footer-logo span {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--box-text-color);
}
.footer-text {
  display: flex;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
/*-------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------- PORTFOLIO-----------------------------------------------------------*/
.portfolio-btn {
  display: flex;
  gap: 24px;
}
.link {
}
.filters-btn {
}
.button {
}
.primary {
  margin-left: 213px;
}
.filter-btn {
}
.secondary {
}
.button {
  font-family: inherit;
}
.cotainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.primary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background: var(--accent-color);
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
  min-height: 48px;
}
.secondary {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--secondary-color);
  cursor: pointer;
  background: var(--box-text-color);
  border: 1px solid #e7e9fc;
}
.secondary:hover,
.secondary:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
}
.function {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.function-item {
  flex-basis: calc((100% - 24px * 6) / 9);
}
.function-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
  padding: 0px 16px;
}
.function-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--feature-color);
  padding: 0px 16px;
}
